body {
    font-family: "Calibri Light";
}
.container {
    padding: 5px;
    text-align: left;
    text-shadow: 0.5px 0.5px black;
}
.navbar {
    box-shadow: 10px 10px 5px grey;
}

.btn {
    text-align: center;
}

#logout {
    width: 20px;
}

.d-block {
    width: 200px;
    height: 200px;
}

.welcome {
    text-align: center;
}